<%
# BigBlueButton open source conferencing system - http://www.bigbluebutton.org/.
# Copyright (c) 2018 BigBlueButton Inc. and by respective authors (see below).
# This program is free software; you can redistribute it and/or modify it under the
# terms of the GNU Lesser General Public License as published by the Free Software
# Foundation; either version 3.0 of the License, or (at your option) any later
# version.
#
# BigBlueButton is distributed in the hope that it will be useful, but WITHOUT ANY
# WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A
# PARTICULAR PURPOSE. See the GNU Lesser General Public License for more details.
# You should have received a copy of the GNU Lesser General Public License along
# with BigBlueButton; if not, see <http://www.gnu.org/licenses/>.
%>

<div class="background">
  <div class="container pt-9 pb-8">
    <div class="row">
      <div class="col-md-12 col-sm-12 text-center">
        <h1 id="main-text" class="display-4 mb-4"> <%= t("landing.welcome").html_safe %></h1>
        <p class="lead offset-lg-2 col-lg-8 col-sm-12 "><%= t("landing.about", href: link_to(t("greenlight"), "https://bigbluebutton.org/2018/07/09/greenlight-2-0/", target: "_blank", rel: "noopener")).html_safe %></p>
        <%= link_to "https://youtu.be/Hso8yLzkqj8", target: "_blank" do %>
          <h4><%= t("landing.video") %> <i class="far fa-play-circle ml-1"></i></h4>
        <% end %>
      </div>

    </div>
  </div>
</div>

<%= render "main/components/features" %>

<section class="subheader-wrapper" style="background-image: url('images/bg-header.png')">
        <div class="container">
            <h5 class="title-subheader text-center">We serve an <span>interactive video conference</span> platform
            </h5>
            <p class="description-subheader text-center">Make your video conference interesting with us</p><img
                src="images/logo.png" class="image-subheader">
            <div class="sub-description-subheader text-center">powered by Cariguru</div>
        </div>
    </section>
    <section class="featurs-wrapper">
        <div class="container"><img src="images/bg-featurs.png" class="image-featurs">
            <h5 class="heading-featurs text-center">Featurs</h5>
            <p class="description-heading-featurs text-center">These are our features which you can use </p>
            <div class="row mt-5">
                <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 col-12 mb-4">
                    <div class="element-featurs">
                        <h5>Audio</h5>
                        <p>Users of Chrome and FireFox browsers will benefit from high-quality,
                            low-latency.</p>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 col-12 mb-4">
                    <div class="element-featurs">
                        <h5>Webcam</h5>
                        <p>Multiple users can share their webcam at the same time.</p>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 col-12 mb-4">
                    <div class="element-featurs">
                        <h5>Screen Sharing</h5>
                        <p>You can broadcast your desktop for all users to see.</p>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 col-12 mb-4">
                    <div class="element-featurs">
                        <h5>Multi-White Board</h5>
                        <p>The whiteboard controls let you and student annotate key parts of presentation.</p>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 col-12 mb-4">
                    <div class="element-featurs">
                        <h5>Chat</h5>
                        <p>You can interact with students through public and private chat.</p>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 col-12 mb-4">
                    <div class="element-featurs">
                        <h5>Emoji</h5>
                        <p>Students can raise hand and use emoji icons for feedback.</p>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 col-12 mb-4">
                    <div class="element-featurs">
                        <h5>Polling</h5>
                        <p>You can poll students anytime to increase engagement.</p>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 col-12 mb-4">
                    <div class="element-featurs">
                        <h5>Breakout Rooms</h5>
                        <p>The whiteboard controls let you annotate key parts of your presentation.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="container">
            <h5 class="heading-featurs text-center">Pricing</h5>
            <p class="description-heading-featurs text-center mb-5">Choose the best plan four your teaching</p>
            <div class="pricing-group">
                <div class="columns-pricing mb-4">
                    <h5 class="pricing-element-title text-center">Basic Plan</h5>
                    <ul class="pricing-element-list">
                        <li>Unlimited Room</li>
                        <li>No time limit</li>
                        <li>All features included</li>
                        <li><b>30</b> Maximum students</li>
                        <li><b>1</b> month activated account</li>
                    </ul>
                    <div class="pricing-discount-text">Rp 70.000</div>
                    <div class="pricing-real-text">Rp 40.000</div>
                    <div class="d-flex justify-content-center mt-4 mb-2">
                        <button type="button" class="btn btn-order-pricing">Order This Plan</button>
                    </div>
                </div>
                <div class="columns-pricing mb-4">
                    <h5 class="pricing-element-title text-center">Mid Plan</h5>
                    <ul class="pricing-element-list">
                        <li>Unlimited Room</li>
                        <li>No time limit</li>
                        <li>All features included</li>
                        <li><b>70</b> Maximum students</li>
                        <li><b>1</b> month activated account</li>
                    </ul>
                    <div class="pricing-discount-text">Rp 120.000</div>
                    <div class="pricing-real-text">Rp 70.000</div>
                    <div class="d-flex justify-content-center mt-4 mb-2">
                        <button type="button" class="btn btn-order-pricing">Order This Plan</button>
                    </div>
                </div>
                <div class="columns-pricing mb-4">
                    <h5 class="pricing-element-title text-center">Pro Plan</h5>
                    <ul class="pricing-element-list">
                        <li>Unlimited Room</li>
                        <li>No time limit</li>
                        <li>All features included</li>
                        <li><b>100</b> Maximum students</li>
                        <li><b>1</b> month activated account</li>
                    </ul>
                    <div class="pricing-discount-text">Rp 150.000</div>
                    <div class="pricing-real-text">Rp 100.000</div>
                    <div class="d-flex justify-content-center mt-4 mb-2">
                        <button type="button" class="btn btn-order-pricing">Order This Plan</button>
                    </div>

                </div>
            </div>
        </div>
    </section>
    <footer>
        <section class="footer-wrapper">
            <div class="container">
                powered by <span>Cariguru</span>
            </div>
        </section>
    </footer>
    <a href="">
        <button class="btn btn-floating-whatsapp" type="button"><img
                src="images/image-whatsapp.png"></button>
